.circle {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  margin: 2rem 4rem;
  cursor: pointer;
}

.circle:hover{
  transform: scale(1.1)
}

@media (max-width: 600px){
    .circle{
        width: 40vw;
        height: 40vw;
        margin: 1rem;
    }
}