.rules {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.rules div {
  width: 10%;
}


@media (max-width: 500px){
  .rules{
    justify-content: center;
    margin-top: 2rem;
  }
}