.scoreboard {
  width: 60%;
  border: 2px solid hsl(217, 16%, 45%);
  display: flex;
  justify-content: space-between;
  /* padding: 1rem; */
}

.scoreboard ul {
  font-size: 2rem;
  line-height: 1.5rem;
  position: relative;
  padding: 0 1rem;
}

.scoreboard,
.score {
  border-radius: 10px;
}

.score {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(229, 64%, 46%);
  width: 6rem;
  height: 6rem;
  position: relative;
  margin: 1rem;
}

.points {
  color: hsl(229, 25%, 31%);
  font-size: 3rem;
}

@media (max-width: 500px){
  .scoreboard{
    width: 80%;
  }

  .scoreboard ul {
    font-size: 5vw;
    margin: 0;
    position: relative;
    margin: auto 0;
  }
}