.scoreboard {
  width: 60%;
  border: 2px solid hsl(217, 16%, 45%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}

.logo{
  width: 50%;
}

.scoreboard,
.score {
  border-radius: 10px;
}


.score{
  width: 30%;
  height: 100%;
  text-align: center;
  background-color: white;
  color: hsl(229, 64%, 46%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.points {
  color: hsl(229, 25%, 31%);
  font-size: 3rem;
}

@media (max-width: 600px){
  .scoreboard{
    width: 80%;
  }

  .logo{
    width: 25%;
  }

  .logo img{
    width: 100px;
  }
}